.form-group {
  margin-bottom: 0;
}

.btn-success {
  margin-left: 2px;
  float: right;
}

.col-sm-10-button {
  float:right!important;
}

.btn-warning {

}

#footer-title {
  margin-top: 0;
  margin-bottom: 0;
  color: inherit;
  text-align: center;
}

#header-title {
  margin-top: 0;
  margin-bottom: 0;
  color: inherit;
}

.alert {
  word-wrap: break-word;
}

#loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    background-color: white;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
